
// This is to limit the jobs to a specific node depending on where we are executing the nextflow (if node == 1, then exclude the rest, 2, 3 and 4)
// There is a nextflow_node_limiter.config file in each scratch node excluding its other nodes
includeConfig '/local_scratch/gpalou/nextflow_node_limiter.config'


process {
	
	executor = 'slurm'
	queue = 'normal_prio'
	memory = 500.MB
	time = {30.m * task.attempt}
    errorStrategy = 'retry'
	maxRetries = 3
	//cpus = 2

	withName: 'fastQ_decompress' {
		cpus = 1
		memory = {500.MB * task.attempt}
		time = {30.m * task.attempt}
	}

	withName: 'STAR_alignment' {
		container = 'file:////g/strcombio/fsupek_home/gpalou/singularity/gtex_rnaseq_V8.sif'
		cpus = 8
		memory = {40.GB * task.attempt}
		time = {4.h * task.attempt}
	}

	withName: 'STAR_alignment_remap_1' {
		container = 'file:////g/strcombio/fsupek_home/gpalou/singularity/gtex_rnaseq_V8.sif'
		cpus = 4
		memory = {40.GB * task.attempt}
		time = {4.h * task.attempt}
	}
	withName: 'STAR_alignment_remap_2' {
		container = 'file:////g/strcombio/fsupek_home/gpalou/singularity/gtex_rnaseq_V8.sif'
		cpus = 4
		memory = {40.GB * task.attempt}
		time = {4.h * task.attempt}
	}

	withName: 'bam_QC_control_1_test_1' {
		cpus = 1
		memory = {4.GB * task.attempt}
		time = {4.h * task.attempt}
	}
	withName: 'bam_QC_control_1_test_2' {
		cpus = 1
		memory = {4.GB * task.attempt}
		time = {4.h * task.attempt}
	}
	withName: 'bam_QC_control_2_test_1' {
		cpus = 1
		memory = {4.GB * task.attempt}
		time = {4.h * task.attempt}
	}
	withName: 'bam_QC_control_2_test_2' {
		cpus = 1
		memory = {4.GB * task.attempt}
		time = {4.h * task.attempt}
	}

	withName: 'bam_QC_control_2' {
		cpus = 1
		memory = {4.GB * task.attempt}
		time = {4.h * task.attempt}
	}

	withName: 'strelka_germline_1' {
		cpus = 4
		memory = {6.GB * task.attempt}
		time = {4.h * task.attempt}
	}

	withName: 'strelka_germline_2' {
		cpus = 4
		memory = {6.GB * task.attempt}
		time = {4.h * task.attempt}
	}

}

params {
	email = 'guillermo.palou@irbbarcelona.org'
	dir_scripts = '/g/strcombio/fsupek_home/gpalou/projects/NMD/scripts/TCGA_RNAseq_quantification/ASE_calling'
	out_dir = '/g/strcombio/fsupek_home/gpalou/data/TCGA_RNAseq_quantification/primary_tumor'
}

singularity {
	enabled = true
	autoMounts = true
	runOptions = '-B /g/strcombio/fsupek_home/gpalou/ -B /scratch/1/gpalou/ -B /scratch/2/gpalou/ -B /scratch/3/gpalou/ -B /scratch/4/gpalou/ -B /scratch/5/gpalou/ -B /local_scratch/gpalou/'
}

tower {
  enabled = true
  accessToken = 'eyJ0aWQiOiA0MTgxfS4xZDRiZDkzMGNiMTYxMjA5ZDMxYmZmYjIyYWE3OWFhOTg0Y2ZlZjI3'
}
