
// This is to limit the jobs to a specific node depending on where we are executing the nextflow (if node == 1, then exclude the rest, 2, 3 and 4)
// There is a nextflow_node_limiter.config file in each scratch node excluding its other nodes
includeConfig '/local_scratch/gpalou/nextflow_node_limiter.config'


process {
	
	executor = 'slurm'
	queue = 'normal_prio'
	memory = 500.MB
	time = {30.m * task.attempt}
    errorStrategy = 'retry'
	maxRetries = 5
	//cpus = 2

	withName: 'GDC_download' {
		cpus = params.cpus
		queue = 'downloads'
		//queue = 'normal_prio'
		memory = {6.GB * task.attempt}
		time = {45.m * task.attempt}
		clusterOptions = process.clusterOptions + ' -A downloads'
	}

	withName: 'STAR_alignment' {
		container = 'file:////g/strcombio/fsupek_home/gpalou/singularity/gtex_rnaseq_V8.sif'
		cpus = 4
		memory = {45.GB * task.attempt}
		time = {12.h * task.attempt}
	}

	withName: 'RSEM_quantification' {
		container = 'file:////g/strcombio/fsupek_home/gpalou/singularity/gtex_rnaseq_V8.sif'
		cpus = 3
		memory = {16.GB * task.attempt}
		time = {20.h * task.attempt}
	}

	withName: 'ASE_germline' {
		cpus = 1
		memory = {1500.MB * task.attempt}
		time = {3.h * task.attempt}
	}

	withName: 'ASE_somatic' {
		cpus = 1
		memory = {1500.MB * task.attempt}
		time = {3.h * task.attempt}
	}

}

params {
	email = 'guillermo.palou@irbbarcelona.org'
	dir_scripts = '/g/strcombio/fsupek_home/gpalou/projects/NMD/scripts/TCGA_RNAseq_quantification'
	out_dir = '/g/strcombio/fsupek_cancer1/gpalou/TCGA_RNAseq_quantification/primary_tumor/'
}

singularity {
	enabled = true
	autoMounts = true
	runOptions = '-B /g/strcombio/fsupek_home/gpalou/ -B /scratch/1/gpalou/ -B /scratch/2/gpalou/ -B /scratch/3/gpalou/ -B /scratch/4/gpalou/ -B /scratch/5/gpalou/ -B /local_scratch/gpalou/'
}

tower {
  enabled = true
  accessToken = 'eyJ0aWQiOiA0MTgxfS4xZDRiZDkzMGNiMTYxMjA5ZDMxYmZmYjIyYWE3OWFhOTg0Y2ZlZjI3'
}
